name: Retag CSCF Docker Image

on:
  workflow_dispatch:

jobs:
  retag:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
    - name: Log in to GHCR
      run: echo "${{ secrets.GHPASS }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Pull existing image (rc1)
      run: docker pull ghcr.io/jeena-reji/n5:release-1.2.0

    - name: Retag as release-0.1.3
      run: docker tag ghcr.io/jeena-reji/n5:release-1.2.0 ghcr.io/jeena-reji/n5::release-0.2.1

    - name: Push new tag
      run: docker push ghcr.io/jeena-reji/n5:release-0.2.1
